body{
  font-family: 'Arial', sans-serif !important;
}

/* h1 heading of all pages */
h1 {
  font-weight: bold;
}

/* intro of all pages */
.intro {
  font-size: larger;
}

/* Styling of Home page */
.check-icon {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* Styling of Contact Us page */
.contact-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .contact-heading {
    text-align: left;
    margin: 50px 100px;
  }

  .contact-div {
    width: 100%;
    background-color: rgba(220, 220, 220, 0.719);
  }

  .columns {
    display: flex;
    justify-content: center;
  }

  .left-section,
  .right-section {
    width: 400px;
    box-sizing: border-box;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    margin: 80px 20px;
  }

  .contact-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
  }

  .contact-p {
    font-size: 20px;
    font-weight: bold;
  }

  .social-icons {
    display: flex;
    gap: 10px;
    justify-content: center;
  }

  .form-section {
    width: 100%;
    text-align: left;
    color: white;
    background-color: black;
  }

  .compact-form {
    max-width: 600px;
    margin: 50px auto;
  }

  .compact-form label {
    margin-bottom: 0.5rem;
  }

  .compact-form input{
    margin-bottom: 1rem;
  }

  .compact-form textarea {
    margin-bottom: 1rem;
    height: 150px;
  }

  .compact-form button {
    margin-top: 1rem;
  }

  .success-message {
    font-size: large;
    color: darkgreen;
  }

  .uploaded-image {
    display: flex;
    align-items: center;
  }

  .trash-icon {
    color: red;
    margin-left: 10px; /* spacing between image and icon*/
    cursor: pointer;
  }

.flag-icon {
  width: 16px;
  height: 16px;
  margin-left: 5px;
}


